extends: default

rules:
  indentation:
    spaces: 2
    indent-sequences: consistent
    check-multi-line-strings: false
  line-length:
    max: 120
    level: warning
  trailing-spaces: enable
  new-line-at-end-of-file: enable
  empty-lines:
    max: 1
